<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Product List</h1>
    <a class="btn btn-primary" th:href="@{/products/new}">Add New Product</a>
    <div th:if="${message}" class="alert alert-success" th:text="${message}" style="white-space: pre-wrap"></div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>State</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td><a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.id}"></a></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.productState}"></td>
            <td><a class="btn btn-info" th:href="@{/products/{id}/edit(id=${product.id})}">Edit</a></td>
            <td>
                <form th:action="@{/products/{id}/delete(id=${product.id})}" th:method="post">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>